   * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: #333;
        color: #cde;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      .container {
        width: 90vw;
        margin: 1em auto;
        min-height: 90vh;
        background-color: darkslategrey;
        padding: 1em;
        line-height: 10vh;
        font-size: calc(1.5em + 1vw);
        border: 1px solid white;
        text-align: center;
      }
      .mensaje {
        font-size: 1.2em;
      }
      #tiempo {
        background-color: #09f7fc;
        font-family: "Courier New", Courier, monospace;
        color: #333;
        font-weight: bold;
        padding: 0 0.5em;
      }
      .certificado {
        font-size: 0.8em;
        text-align: center;
        line-height: auto;
        font-variant: small-caps;
      }
      footer {
        text-align: right;
        font-weight: bold;
        font-style: italic;
        font-size: 0.8em;
      }